body{
    background-image: url('../img/titanic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}
@media screen and (min-width:300px) and (max-width:568px){
    body{
        background-image: url('../img/titanic.jpg');
        background-size: 100% 140%;
        background-repeat: no-repeat;
        background-color:rgba(255,255,255,0.8);
        background-blend-mode:lighten;
    }
}

.container{
    margin-bottom: 100px;
}

.image{
    width: 200px;
    height: 200px;
}
.image-width{
    width: 200px;
    margin: 30px 0 10px 0
}
#gender{
    transition-property: opacity;
    transition-duration: 0.25s;
    opacity: 1;
}
#gender.transparent{
    opacity: 0;
}
#grade{
    transition-property: opacity;
    transition-duration: 0.25s;
    opacity: 1;
}
#grade.transparent{
    opacity: 0;
}
/*next-btn*/
#next{
    background: rgba(114, 149, 172, 0.3);
}
#next:hover{
    background-color: rgb(24, 176, 214);
}
.disNone{
    display: none;
}
.fare{
    margin-bottom: 10px;;
}
